<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="turnOnLights"
	default-destroy-method="turnOffLights">

	<bean id="duke" class="com.danandreicarp.learn.spring.springidol.Juggler">
		<constructor-arg value="15" />
	</bean>

	<bean id="sonnet29" class="com.danandreicarp.learn.spring.springidol.Sonnet29" />

	<bean id="poeticDuke" class="com.danandreicarp.learn.spring.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<bean id="theStage" class="com.danandreicarp.learn.spring.springidol.Stage"
		factory-method="getInstance" />
		
	<bean id="ticket" class="com.danandreicarp.learn.spring.springidol.Ticket"
		scope="prototype" />
		
	<bean id="auditorium" class="com.danandreicarp.learn.spring.springidol.Auditorium"
		init-method="turnOnLights" destroy-method="turnOffLights" />
		
	<bean id="kenny" class="com.danandreicarp.learn.spring.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="piano" />
	</bean>
	
	<bean id="saxophone" class="com.danandreicarp.learn.spring.springidol.Saxophone" />
	<bean id="piano" class="com.danandreicarp.learn.spring.springidol.Piano" />
</beans>